<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"> 
        <style>
            .error1, .error2{
                color: red;
                font-family: 'VT323', monospace;
                font-size: 20px;
            }

            .title{
                text-align: center;
            }

            textarea {
                width: 300px;
                height: 120px;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/blog">Main Blog Page</a> |
            <a href="/newpost">Add a Blog Entry</a>
        </nav>
        <!-- <div>
            <a href='/logout'>log out</a>
        </div> -->

        <!-- Create block to insert body data from other files -->
        {% block content %} 
        {% endblock %}

    </body>
</html>